 @charset "UTF-8";
/* CSS document */

/* header */

 body {
	 background: url("images/dust_@2X.png") repeat;
 }

@font-face {
    font-family: 'europe_undergroundlight';

    src: url('webfontkit/europeunderground_light-webfont.eot');
    src: url('webfontkit/europeunderground_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfontkit/europeunderground_light-webfont.woff2') format('woff2'),
         url('webfontkit/europeunderground_light-webfont.woff') format('woff'),
         url('webfontkit/europeunderground_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'europe_undergroundregular';
    src: url('webfontkit/europeunderground_black-webfont.eot');
    src: url('webfontkit/europeunderground_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfontkit/europeunderground_black-webfont.woff2') format('woff2'),
         url('webfontkit/europeunderground_black-webfont.woff') format('woff'),
         url('webfontkit/europeunderground_black-webfont.ttf') format('truetype'),
         url('webfontkit/europeunderground_black-webfont.svg#europe_undergroundregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'josefin_regular';
    src: url('webfontkit/josefinsans-regular-webfont.eot');
    src: url('webfontkit/josefinsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfontkit/josefinsans-regular-webfont.woff2') format('woff2'),
         url('webfontkit/josefinsans-regular-webfont.woff') format('woff'),
         url('webfontkit/josefinsans-regular-webfont.ttf') format('truetype'),
         url('webfontkit/josefinsans-regular-webfont.svg#josefin_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'josefin_sanslight';
    src: url('webfontkit/josefinsans-light-webfont.eot');
    src: url('webfontkit/josefinsans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfontkit/josefinsans-light-webfont.woff2') format('woff2'),
         url('webfontkit/josefinsans-light-webfont.woff') format('woff'),
         url('webfontkit/josefinsans-light-webfont.ttf') format('truetype'),
         url('webfontkit/josefinsans-light-webfont.svg#josefin_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'josefin_sanssemibold';
    src: url('webfontkit/josefinsans-semibold-webfont.eot');
    src: url('webfontkit/josefinsans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfontkit/josefinsans-semibold-webfont.woff2') format('woff2'),
         url('webfontkit/josefinsans-semibold-webfont.woff') format('woff'),
         url('webfontkit/josefinsans-semibold-webfont.ttf') format('truetype'),
         url('webfontkit/josefinsans-semibold-webfont.svg#josefin_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'josefin_sansregular';
    src: url('webfontkit/josefinsans-regular-webfont.eot');
    src: url('webfontkit/josefinsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfontkit/josefinsans-regular-webfont.woff2') format('woff2'),
         url('webfontkit/josefinsans-regular-webfont.woff') format('woff'),
         url('webfontkit/josefinsans-regular-webfont.ttf') format('truetype'),
         url('webfontkit/josefinsans-regular-webfont.svg#josefin_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'josefin_sansthin';
    src: url('webfontkit/josefinsans-thin-webfont.eot');
    src: url('webfontkit/josefinsans-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfontkit/josefinsans-thin-webfont.woff2') format('woff2'),
         url('webfontkit/josefinsans-thin-webfont.woff') format('woff'),
         url('webfontkit/josefinsans-thin-webfont.ttf') format('truetype'),
         url('webfontkit/josefinsans-thin-webfont.svg#josefin_sansthin') format('svg');
    font-weight: normal;
    font-style: normal;

}


html{
	height: 100%;
	font-size: 100%;
}
body {
	width:100%;
	min-height: 100%;
	margin: 0 auto;
	padding:0 auto;
}
#wrapper{
	height: 100%;
	width: 75%;
	max-width: 900px;
	margin:0 auto;
	padding:0 auto;
}

#home #background_wrapper{
	width: 100%;
	background: url("images/background-012.jpeg") no-repeat center;
	background-size: cover;

}

#main {
	background-color: #FFFFFF !important;
    height: 100%;
    overflow: hidden;
    /*overflow:auto;*/
 }

header {
	width: 100%;
	height: 8em;
	margin:0px auto;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.6);
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
#logo{
	max-width: 20%;
    height: auto;
    width: auto;
	display: block;
	float: left;
	padding: 2.8em 0 1em 2.5em;
}
header nav{
	width: 35em;
	float: right;
	padding-right: 3em;
	}
header nav ul{
	list-style: none;
	margin:0;
}
header nav li a{
	padding-top: 3em;
	margin-left: 0.5em;
	display: block;
	height: 1.6em;
	text-decoration: none;
	font-family: 'josefin_sansregular';
	font-weight: 1000;
	color: white;
	font-size: 1.7em;
	text-align: center;
	float: left;
	width: 3em;
	border-top: solid;
	border-color: white !important;
	border-width: 0.15em;
}
#bla{
	padding-right: 0.5em;
}
#current{
	padding-top: 0;
	float: left;
	display: block;
	height: 15em;
	width: 4em;
	color:#e1d1a4;
 }
 #home #current_li a, #training #current_li a, #gallery #current_li a, #store #current_li a, #contact #current_li a{
 	display: block;
 	float: left;
 	border-top: solid !important; 
	border-color: #e1d1a4 !important;
	color: #e1d1a4  !important;
	border-width: 0.15em !important;
}

 #title_wrapper{
	 padding:8em 0 0 0;
 }
#background_wrapper h1{
	padding:0.2em 0 0 0.8em;
	margin:0;
	/*try fontsquirrel*/
	font-family: 'europe_undergroundregular';
    font-weight:normal; !important;
	font-size: 3.2em;
	letter-spacing: 0.3em;
	color:white

}
#information p{
	margin: 0;
	font-family: 'josefin_sanssemibold';
	font-size: 1.2em;
	font-weight:550;
	padding: 0 13% 0 2em;
	letter-spacing: 0.05em;
	line-height: 2em;
	text-align:center;
}
#information h2{
	margin: 0;
	font-family: 'josefin_sanssemibold';
	font-size: 2em;
	font-weight:550;
	padding: 0 13% 0 2em;
	letter-spacing: 0.05em;
	line-height: 2em;
	text-align:center;
}
#information  span {
	display: block;
	border-bottom: 1px solid black;
	margin:0 0 1em 7.7em;
	width: 5em;
}
 #information{
	 margin:2em 0 0 4em;
	min-height: 235px;
}
#socialbar{
	height: 5em;
	margin: 0 3em;
	border-top: solid;
	border-bottom: solid;
	border-color: black;
	border-width: 1.28px;
}
#socialbar h2{
	padding:0.1em 0 0 0;
	width: 8em;
	font-family: 'josefin_sansregular';
	font-weight: bold;
	color: #b49d86;
	text-transform: uppercase;
	display: block;
	float: left;
}
#images{
	float: right;
}
.social_img{
	padding: 1em 0 0 2.5em;
	width: 3em;
	display: block;
	float: left;
}

#article_container {
  display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.article a{
	padding-top: 4em;
	margin-left: 0.5em;
	display: block;
	height: 1.6em;
	text-decoration: none;
	font-family: 'josefin_sansregular';
	text-align: center;
	font-weight: bold;
	color: white;
	color: white;
	font-size: 1.7em;
	text-align: center;
	float: left;
	position: relative;
	left: 25%;
	width: 3em;
}
.article{
	width: 236px;
	height: 290px;
	margin-right: 3em;
	margin: 4em 0em 4em 3em;
	display: block;
	float: left;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.7);
	filter: alpha(opacity=60); /* For IE8 and earlier */
	position: relative;

}
#one{
	background:
			linear-gradient(
					rgba(122, 70, 46, 0.5),
					rgba(122, 70, 46, 0.5)
			),
			url("images/article1.jpg") no-repeat center;
	background-size: 100%;
}
#two{
	background:
			linear-gradient(
					rgba(167, 219, 77, 0.5),
					rgba(167, 219, 77, 0.5)
			),
			url("images/article-2.jpg") no-repeat center;
	background-size: 100%;
}
 #three{
	 background:
			 linear-gradient(
					 rgba(55, 116, 169, 0.7),
					 rgba(55, 116, 169, 0.7)
			 ),
			 url("images/article-3.jpg") no-repeat center;
	 background-size: 100%;
 }
/*
button{
	margin-left: 14em;
	font-size: 12.8px;
	font-family: 'josefin_sanslight';
	border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	background-color: #b49d86;
	color: black;
	border: 1px solid #b49d86;
	cursor: pointer;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	position: absolute;
	line-height: 14px;
	width: 90px;
	right: 1em;
	bottom: 1em;
	

}
*/

#footer {
	display: block;
	float: left;
	height: 8%;
	margin: 0 3em;
	border-top: solid;
	border-color: black;
	border-width: 0.08em;
}
#navigation_f{
	width: 100%;
	display: block;
	min-height: 50px;
	padding-bottom: 1em;
}
#navigation_f li a{
	padding-right: 0em;
	font-weight: 550;
	width:4em;
	display: block;
	float: left;
	text-decoration: none;
	font-family: 'josefin_sansregular';
	text-align: center;
	color:black;
	font-size: 1.5em;
}
#navigation_f .current{
	color: #83561c;
}
#navigation_f ul{
	list-style: outside none none;
	margin: 0px;
	padding: 1em 0 0 0;
	/*height: 10em;*/

}
#copyright{
	width: 100%;
	display: block;
	margin: 0;
	padding: 0 0 2em 0;
	color:gray;

}
#copyright p{
	padding: 2em 0 0 0;
	margin: 0;
}

/* --- PAGE SECOND: TRAINING; -----*/


#training #title-wrapper h1{
	padding:2.7em 0 0 0.8em;
	margin:0;
	/*try fontsquirrel*/
	font-family: 'europe_undergroundregular';
	font-weight:normal; !important;
	font-size: 3.2em;
	letter-spacing: 0.15em;
	color:white
}

#training #main{
	background-color: white !important;
	height: 100%;
    overflow: hidden;
}
#training #background_wrapper{
	width: 100%;
	background: url("images/background-22.jpg") no-repeat center;
	background-size: cover;
}

#training .article{
	width: 80%;
	height: 12em;
	background-color: black;
	opacity: 0.9;
	margin:2em 10%;
	padding: 0 auto;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}
#training .article h2{
	font-family: 'europe_undergroundregular';
	font-size: 1em;
	color:#876f57;
	font-weight: bold;
	letter-spacing: 0.1em;
	margin:0;
	padding:0.5em 0.5em 0.2em 5em;
	text-align: right;
}
#training  .first_column{
	font-family: 'josefin_sanslight';
	width: 40%;
	float:left;
	color:white;
	display:inline;
}
#training  .second_column{
	font-family: 'josefin_sanslight';
	width: 40%;
	float:left;
	color:white;
	padding-left: 4em;
}
#training .article li{
	list-style-image: url('images/tick.png');
	padding: 0 0 0.3em 0;
}
#training button{
    float: right;
	margin-right: 1em;
	width: 10em;
	color:white;
	border-radius: 4px;
	text-decoration: none;
	border: none;
	background-color: rgba(135, 111, 87,1);
}

/*-------PAGE THIRD: GALLERY-------*/

#gallery #main{
	background-color: #f1ede6 !important;
}
#gallery #background_wrapper{
	background: url("images/background-03.jpg") no-repeat center;
	background-size: cover;


}

#gallery #content{
	/*min-height: 400px; */
}

#gallery #slider_wrapper{
	width: 80%;
	padding:5.4em auto !important;
	margin:5.4em auto;
	min-height: 22em;
	background-color: rgba(0, 0, 0, 0.6);
	filter: alpha(opacity=60); /* For IE8 and earlier */
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
	/*opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */

}

#gallery .slider{
	width: 70%;
	margin: 2em auto;
	padding:2em auto;
}

#gallery #socialbar{
	border-bottom: none;
	margin-top: 7em;
}

/*----------PAGE FOUTH: STORE----------*/

#store #main{
	background-color: white !important;
	/*min-height: 1000px;*/
}
#store #content h2{
	margin: 0;
	font-family: 'josefin_sanssemibold';
	font-size: 1.5em;
	font-weight:550;
	padding: 0 13% 0 2em;
	letter-spacing: 0.05em;
	line-height: 2em;
	text-align:center;
}
#store #background_wrapper{
	background: url("images/background42.jpg") no-repeat center;
}
#store #title-wrapper{
	padding:3em 0 0 0.8em;
	margin:0;
	/*try fontsquirrel*/
	font-family: 'europe_undergroundregular';
	font-weight:normal; !important;
	font-size: 3.2em;
	letter-spacing: 0.1em;
	color:white
}
#store #content{
	width: 90%;
	padding: 0 auto;
	margin: 0 auto;
}

#store .store_section{
	font-family: 'europe_undergroundregular';
	font-size: 2.5em;
	color: black;
	letter-spacing: 0.05 !important;
	border-bottom: solid;
	border-top: solid;
	border-color: black;
	border-width: 1.6px;
	padding: 0.2em 0;
	margin-top: 1em;
}

#store  #womens{
	margin-top: 2em;
	border-top: solid;
	border-color: black;
	border-width: 1.6px;
}
#store .mens{
	min-width: 220px;
	width: 25%;
	float: left;
	padding: 2em 2.2em 0.5em 0.5em !important;
}
.mens img{
	width: 230px;
	height: 220px;
}
.pricetag h3{
	width: 75%;
	font-family: 'josefin_sansregular';
	font-weight:100;
	font-size: 1.1em;
	float: left;
}
.pricetag img{
	width: 15%;
	height: auto;
	float: left;
	padding: 1.5em 0 0 1em;

}
.container_aragment{
	  display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}



/*-----------PAGE FIFTH: ABOUT-------*/

#about #main{
	background-color: white !important;
	min-height: 1000px;
}
 #about #title-wrapper h1{
	 padding:4em 0 0 0.8em;
	 margin:0;
	 /*try fontsquirrel*/
	 font-family: 'europe_undergroundregular';
	 font-weight:normal; !important;
	 font-size: 3.2em;
	 letter-spacing: 0.1em;
	 color:white
 }
#about #background_wrapper{
	background: url("images/background-52.jpg") no-repeat center;
}
#about #content{
	width: 90%;
	margin: 0 auto;
	padding:0 auto;
}
#about h1{
	font-family: 'europe_undergroundregular';
	font-size: 3em;
	letter-spacing: 0.05;
	font-weight: normal;
	border-bottom: solid;
	border-color: black;
	border-width: 1px;
}
#about .column{
	font-family: 'josefin_sansregular';
	font-size: 1.2em;
	height: 10em;
	width: 45%;
	float: left;
	display: block;
}
#about .column h2{
	font-family: 'europe_undergroundregular';
	font-size: 0.9em;
	padding-top: 0.7em;
}
#about .column p{
	padding: 0.7em 0 0 0 ;
	margin: 0;
}


#other_info h2{
	font-family: 'europe_undergroundregular';
	font-size: 1em;
	width: 100% !important;

}
#other_info p{
	font-family: 'josefin_sansregular';
	font-size: 1.2em;
	width: 90%;
}


/*--------------------900 : 1150 -------------------*/


@media all and (min-width: 900px) and (max-width: 1150px) {
       body
       {
           font-size: 13px !important; 
       }
       #information p{
       		font-size: 1.5em !important;
       }
       #training .article{
       		height: 30%;
       		font-size: 1.3em;
       }
       #training #content li{
			padding-bottom: 1em;
       }

       /* ----------- STORE ------------*/
       .pricetag h3{
       		font-size: 1.3em;
       }
              /*----------ABOUT--------------*/
        #about h1{
			font-size: 3em;
			border-width: 0.1em;
		}
		.some_info{
			font-size: 1.2em;
		}
		.simple_text{
			font-size: 1.2em;
		}
		#kontakt p{
			font-size: 1em;
		}
		#other_info h2{
			font-size: 1.2em;
		}
		#other_info p{
			font-size: 1.2em;
		}

}  

@media all and (min-width: 710px) and (max-width: 900px) {
       body
       {
           font-size: 10px; 
       }
       	#content p{
       		font-size: 1.8em !important;
       }
        #training .article{
       		height: 40%;
       		font-size: 1.6em;
       }
       #training #content li{
			padding-bottom: 1em;
       }
       #about .column p{
       		font-size: 1.3em !important;
       }
       #about .column{
       		height: 13em;
       }
       #about .column h2{
       		font-size: 1.2em !important;
       		padding-top: 0.7em;
		}
       #about h2{
       		font-size: 1.4em !important;
       }
       footer{
       	font-size: 1.3em;
       }

       /* ----------- STORE ------------*/
       .pricetag h3{
       		font-size: 1.5em;
       }
       /*----------ABOUT--------------*/
        #about h1{
			font-size: 3em;
			border-width: 0.1em;
		}
		.some_info{
			font-size: 1em;
		}
		.simple_text{
			font-size: 1em;
		}
		#kontakt p{
			font-size: 1em;
		}
		#other_info h2{
			font-size: 1em;
		}
		#other_info p{
			font-size: 1.2em;
		}

}

		.slicknav_menu {
		    display:none;
		}
		.nav-toggle{
			display: none;
		}

@media all and (min-width: 380px) and (max-width: 710px) {
        body
       {
           font-size: 9px; 
       }
       	#content p{
       		font-size: 1.9em !important;
       }
        footer{
       		font-size: 1.3em !important;
       }
        #navigation {
        	display:none;
   		 }
		header {
			display: none;
		}
		.article{
			float: none !important;
			margin-left: 7em;
		}
		#training .article{
       		height: 20em;
       		font-size: 1.5em;
       		
        }
       	#training #content li{
			list-style-image: url('images/tick.png');
			padding:0;
			margin:0;
		}
			#training #content ul{
			
			padding:0;
			margin:0;
		}
       
		#training .first_column{
			width: 80%;
			float: left;
		}
		#training .second_column{
			width: 80%;
			float: left;
			padding-left: 3em;
		}
		.social_img{
			width: 2.8em;
			padding: 1em 0 0 1.6em;
		}
		#socialbar h2{
			width: 5em;
		}


	    .slicknav_menu {
	    	font-family: 'europe_undergroundlight';
	    	letter-spacing: 0.4em;
	        display:block;
	        background-color: rgba(0, 0, 0, 0.6);

	    }
	    .slicknav_nav a:hover{
	    	-webkit-border-radius: 0;
    	  	-moz-border-radius: 0;
     		border-radius: 0;
	    	background-color: rgba(0, 0, 0, 0.6);
	    	color: white;
	    }
	     .slicknav_row, .slicknav_nav a {
	     	margin:0 !important;
	     	padding: 0.5 1em;

	    }
	    .slicknav_nav .slicknav_txtnode {
   			margin-left: 0!important;
   		}
   		.slicknav_nav ul {
			margin: 0;
		}
		/*---------- HIDE/SHOW------------------*/
		.nav-toggle{
			display:block; 
			margin:0 0 0 1em;
			position: inherit;

		}
		#to_hide{
			display: none;
		}
		#hidden{
			background-color: transparent;
			padding: 0.4em 0.4em 0.4em 0.6em;
		}
		/* ----------- STORE ------------*/
       .pricetag h3{
       		font-size: 1.5em;
       }
		/*------------ABOUT-------------*/
		  #about .column p{
       		font-size: 1.3em !important;
       }
       #about .column{
       		height: 13em;
       }
       #about .column h2{
       		font-size: 1.2em !important;
       		padding-top: 0.7em;
		}
       #about h2{
       		font-size: 1.4em !important;
       }
}

@media all and (min-width: 100px) and (max-width: 380px) {
	        body
       {
           font-size: 8.5px; 
       }
    #navigation {
        	display:none;
   		 }
       	header {
			display: none;
		}
	    .slicknav_menu {
	    	font-family: 'europe_undergroundlight';
	    	letter-spacing: 0.4em;
	        display:block;
	        background-color: rgba(0, 0, 0, 0.6);

	    }
	    .slicknav_nav a:hover{
	    	-webkit-border-radius: 0;
    	  	-moz-border-radius: 0;
     		border-radius: 0;
	    	background-color: rgba(0, 0, 0, 0.6);
	    	color: white;
	    }
	     .slicknav_row, .slicknav_nav a {
	     	margin:0 !important;
	     	padding: 0.5 1em;

	    }
	    .slicknav_nav .slicknav_txtnode {
   			margin-left: 0!important;
   		}
   		.slicknav_nav ul {
			margin: 0;
		}
		#content p{
			font-size: 2em;
			padding: 0.4em 0.4em 0.4em 0.6em;
		}

		/*----------------HIDE/SHOW------------*/

		.nav-toggle{
			display:block; 
			margin:0 0 0 1em;
			position: inherit;

		}
		#to_hide{
			display: none;
		}
		#hidden{
			background-color: transparent;
			padding: 0.4em 0.4em 0.4em 0.6em;
		}
		.article{
			margin: 4em 0em 4em 0em;
		}

		footer{
			font-size: 1.3em !important;
			margin: 0 !important;
		}
		#navigation_f{
			padding-left: 2.5em;
		}
		#navigation_f ul a{
			list-style: outside none none;

			padding: 0.5em 0.5em 0.5em 0.5em;
			/*height: 10em;*/
		}
		#copyright{
			display: block;
			float: right;
			padding: 1em 0.5em 0 0.5em !important;
			margin: 0;
			width: 100%;
		}
		#copyright p{
			line-height: 2em;
		}
		#socialbar{
			height: 13em;
		}
		#socialbar h2{
			padding-left: 35%;
		}

		/*------------ TRAINING -----------*/
		#training .article{
       		height: 25em;
       		font-size: 1.5em;
       	}
		 #training #content li{
			list-style-image: url('images/tick.png');
			padding:0;
			margin:0;
		}
		#training #content ul{
			
			padding:0;
			margin:0;
		}
       
		#training .first_column{
			width: 80%;
			float: left;
		}
		#training .second_column{
			width: 80%;
			float: left;
			padding-left: 3em;
		}

		/*---------GALLERY---------*/

		#gallery #slider_wrapper {
			min-height: 12em;
		}
		/* ----------- STORE ------------*/
       .pricetag h3{
       		font-size: 1.7em;
       }
       /*-------------ABOUT-------------*/
         #about .column p{
       		font-size: 1.2em !important;
       }
       #about .column{
       		height: 13em;
       }
       #about .column h2{
       		font-size: 1.1em !important;
       		padding-top: 0.9em;
		}
       #about h2{
       		font-size: 1.4em !important;
       }


}


